@tailwind base;
@tailwind components;
@tailwind utilities;


@source inline("bg-gradient-to-br");
@source inline("from-[#db469f]");
@source inline("to-[#2188ff]");
@source inline("bg-clip-text");


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%
}

@media (min-width: 480px) {
    .container {
        max-width:480px;
        padding-left: 1rem;
        padding-right: 1rem
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px;
        padding-left: 1rem;
        padding-right: 1rem
    }
}

@media (min-width: 976px) {
    .container {
        max-width:976px;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media (min-width: 1344px) {
    .container {
        max-width:1344px;
        padding-left: 2rem;
        padding-right: 2rem
    }
}

.stretched-link {
    position: static
}

.stretched-link:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.branded-elastic-block  .image-wrap:after {
    border: 0 solid;
    box-sizing: border-box;
    background: #2a2f3f;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .6s ease;
    width: 100%;
}
.branded-elastic-block  .image-wrap:hover:after {
    content: none;
}
.hover-transition:hover  img {
    transform: scale(1.1) translate3d(-4%, 0, 0);
    transition-duration: 1s;
}

.mobile-menu {
    top: 64px;
    background: #ecf0f2;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.text-shadow {
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------------------------- */
.radio-media label .checker {
    align-items: center;
    background-color: #fff;
    border-color: #d1d5db;
    border-radius: 9999px;
    border-width: 1px;
    display: flex;
    flex-shrink: 0;
    height: 1.25rem;
    justify-content: center;
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1.25rem;
}

.radio-media input[type=radio]:checked+label {
    background-color: #fff;
    border-color: #10B981;
    color: #111827;
}

.qz-01:not(.edit-mode) .radio-media label {
    cursor: pointer;
    display: block;
    position: relative;
    user-select: none;
}

.qz-01 .radio-media label {
    align-items: center;
    border-color: transparent;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: .5rem;
    text-align: center;
}

.qz-01 .radio-media label .checker {
    align-items: center;
    background-color: #fff;
    border-color: #d1d5db;
    border-radius: 9999px;
    border-width: 1px;
    display: flex;
    flex-shrink: 0;
    height: 1.25rem;
    justify-content: center;
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1.25rem;
}

.qz-01 .radio-media label .checker:after {
    content: "";
}

.qz-01:not(.edit-mode) .radio-media input[type=radio]:checked+label .checker:after {
    background-color: #10B981;
    border-radius: 9999px;
    display: block;
    height: .75rem;
    width: .75rem;
}